<?xml version="1.0"?>
<ruleset name="Feed Post Thumbnail">
    <description>Coding Standard for Feed Post Thumbnail plugin.</description>

    <file>.</file>

    <rule ref="Required">
        <exclude name="SlevomatCodingStandard.TypeHints"/>
    </rule>

    <!-- Verify that the text_domain is set to the desired text-domain.
     Multiple valid text domains can be provided as a comma-delimited list. -->
    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array" value="wp-feed-post-thumbnail" />
        </properties>
    </rule>

    <!-- Define both prefixes for functions and hooks.  -->
    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <property name="prefixes" type="array" value="wp_feed_post_thumbnail"/>
        </properties>
    </rule>

    <exclude-pattern>*/tests/*</exclude-pattern>
</ruleset>
